body{
    background-color: aliceblue;
}

input{
    margin: 10px;
}

#wrapper{
    background-color: beige;
    width: 900px;
    margin: 0 auto;

}

#loginWidget{
    width: 300px;
    margin: 0 auto;
    background-color: cornsilk;
}