body{
    background-color: aliceblue;
}

#wrapper{
    width: 900px;
    margin: 0 auto;
}

#header{
    background-color: #e9e9e9;
    width: 900px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: cornflowerblue;
    font-weight: 900;

    
}

#test{
    text-align: center;
}

#loginWidget {
    width: 400px;
    margin: 50px auto;
    text-align: center;
}
#loginWidget > h1 {
    margin: 0;
    padding: 2px;
}
#loginWidget form {
    background-color: #EEE;
    border: 1px solid #DDD;
    padding: 0.5em 0;
    border-radius: 0 0 10px 10px;
}
#loginWidget form label {
    width: 95px;
    text-align: right;
    display: inline-block;
}
#loginWidget div.stack {
    margin: 1em 0;
}
div.ui-state-error {
    padding: 4px 0;
}
div.pageWidget {
    width: 600px;
    margin: 50px auto;
    text-align: center;
}

ul{
    color: blue;
    list-style-type: none;
    text-decoration: underline;
    float: left:
    width: 400px;    
}

ul:hover{
    cursor: pointer;
}

.hide{
    display: none;
}

li{
    text-align: center;
    padding:10px;
     
}

#homeLI{
    margin: 20px;
    padding: 10px;
}